.about{
    /* background-color: rgb(250, 152, 234); */
}

.home h1{
	width: 100%;
	color: white;
	font-size: 5rem;
	text-align: center;
}

.home-para{
	width: 100%;
	color: white;
	font-size: 1.4rem;
	text-align: center;
}

.bcc-img{
	width: 100vw;
	filter: brightness(0.7);
  }
 
.home-child{
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: red;
	}

.home-text{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 200px;
	}
.about-parent   {
    display: flex;
    justify-content: space-evenly;
    line-height: 2;
	background-color: rgb(245, 242, 242);
    margin:0 0 90px 0;
	box-shadow: 1px 1px 20px rgba(0,0,0,0.4);
}
.about-parent img{
	box-shadow: 1px 1px 20px rgba(0,0,0,0.4);
}

.about-p{
    text-align: justify;
    margin: 8px 20px;
    padding: 10px;
}

.about-img{
    display: block;
    width: 50%;
    height: 100%;
    margin: 8px 0px;
    border-radius: 20px 50px ;
}

.person-img{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    margin: 0 auto;
}


.totalcard {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: 50px;
}
.totalcard .card {
	margin: 50px;
	width: 300px;
	border-radius: 10px;
	background: #fff;
}
.totalcard .card{
	box-shadow: inset 0 0 10px rgba(0,0,0,0.4),
					0 0 10px rgba(0,0,0,0.3);
}
.card:nth-child(1){
	border-top: 5px solid green;
}
.card:nth-child(2){
	border-top: 5px solid blue;
}
.card:nth-child(3){
	border-top: 5px solid rgb(255, 136, 0);
}
.card:nth-child(4){
	border-top: 5px solid rgb(255, 0, 0);
}
.card:nth-child(5){
	border-top: 5px solid rgb(0, 255, 234);
}
.card:nth-child(6){
	border-top: 5px solid rgb(255, 0, 212);
}
.card:nth-child(1):hover {
	box-shadow: inset 0px 0px 10px rgba(0,255,0,0.5),
				1px 1px 30px rgba(0,255,0,0.5);
}
.card:nth-child(2):hover {
	box-shadow: inset 0px 0px 10px rgba(0,0,255,0.5),
				1px 1px 30px rgba(0,0,255,0.5);
}
.card:nth-child(3):hover {
	box-shadow: inset 0px 0px 10px rgba(255, 136, 0),
				1px 1px 30px rgba(255, 136, 0);
}
.card:nth-child(4):hover {
	box-shadow: inset 0px 0px 10px rgba(255, 0, 0),
				1px 1px 30px rgba(255, 0, 0);
}
.card:nth-child(5):hover {
	box-shadow: inset 0px 0px 10px rgba(0, 255, 234),
				1px 1px 30px rgba(0, 255, 234);
}
.card:nth-child(6):hover {
	box-shadow: inset 0px 0px 10px rgba(255, 0, 212),
				1px 1px 30px rgba(255, 0, 212);
}
.totalcard .card img {
	width: 100px;
	height: 100px;
	margin-top: 5px;
	cursor: pointer;
	border-radius: 50px;
	transition-duration: .8s;
}
.totalcard .card img:hover {
	transform: scale(3.5);
	border-radius: 0;
	box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.t-btn{
	background: #00b0fc;
	background-image: -webkit-linear-gradient(top, #00b0fc, #183fab);
	background-image: -moz-linear-gradient(top, #00b0fc, #183fab);
	background-image: -ms-linear-gradient(top, #00b0fc, #183fab);
	background-image: -o-linear-gradient(top, #00b0fc, #183fab);
	background-image: linear-gradient(to bottom, #00b0fc, #183fab);
	-webkit-border-radius: 28;
	-moz-border-radius: 28;
	border-radius: 28px;
	font-family: Georgia;
	color: #ffffff;
	font-size: 1rem;
	padding: 3.5px 31px 3.5px 30px;
	text-decoration: none;
	position: relative;
	bottom: 10px;
	border: none;
}

.t-btn:hover{
	background: #0477bf;
	background-image: -webkit-linear-gradient(top, #0477bf, #072b8f);
	background-image: -moz-linear-gradient(top, #0477bf, #072b8f);
	background-image: -ms-linear-gradient(top, #0477bf, #072b8f);
	background-image: -o-linear-gradient(top, #0477bf, #072b8f);
	background-image: linear-gradient(to bottom, #0477bf, #072b8f);
	text-decoration: none;
}

/* Services */
.services{
	display: flex;
	flex-direction: column;
	padding: 10px 10px 70px 10px;
	margin: 0 10px 20px 10px;
}

.services h2{
	background-color: rgb(234, 154, 154);
	margin: 10px 0;
	border-radius: 20px 20px;
	text-align: center;
}
 
.services h1{
	background-color: rgb(234, 154, 154);
	margin: 10px 0;
	border-radius: 20px 40px;
	text-align: center;
	padding: 10px;
}

label {
	display: block;
	margin-bottom: 8px;
  }
  
.l-input {
	width: 100%;
	padding: 8px;
	margin-bottom: 16px;
  }
  

.l-btn{
	width: 100%;
	padding: 10px;
	background-color: #4caf50;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
  }
  
  button:hover {
	background-color: #45a049;
  }

  .auth-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin-top: 100px;
	margin-bottom: 200px;
  }
  
  .auth-form {
	width: 300px;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

 .home h2{
	font-family: 'Times New Roman', Times, serif;
	font-size: 3rem;
	margin: 40px auto;
	text-align: center;
	/* text-align: center; */
 }


 .search{
	width: 400px;
	height: 50px;
	border-radius: 20px;
	border: none;
	padding: 20px;

 }

.search-parent{
	position:absolute;
	top: 220px;
	left: 200px;
}

 .search-btn{
	width: 60px;
	height: 50px;
	border-radius: 10px;
	border: none;
	position:absolute;
 }

 .search-btn:hover{
	background-color: rgb(253, 144, 144);
 }