footer {
    color: #E5E8EF;
    background: #000D;
    padding: 50px 0; 
  }
  
  footer .footer-container {
    max-width: 1300px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
  }
  
  footer .social-media img {
    width: 22px;
  }
  
  /* footer .logo {
    width: 180px;
    color: #fff;
  } */
  
  footer .social-media a {
    margin-right: 10px;
    font-size: 22px;
    text-decoration: none;
  }
  
  footer .right-col{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }

  footer .left-col{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
  }
  footer .right-col h1 {
    font-size: 26px;
  }
  
  footer .border {
    width: 100px;
    height: 4px;
    background: linear-gradient(to right, #FA4B37, #DF2771);
    margin: 2px;
  }
  
  footer .newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  footer input::placeholder {
    color: white !important;
  }
  
  footer .txtb {
    flex: 1;
    padding: 18px 40px;
    font-size: 16px;
    background: #343A40;
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 5px;
    min-width: 260px;
    margin-top: 20px;
    color: white;
  }
  
  footer .btn {
    margin-top: 20px;
    padding: 18px 40px;
    font-size: 16px;
    color: #f1f1f1;
    background: linear-gradient(to right, #FA4B37, #DF2771);
    border: none;
    font-weight: 700;
    outline: none;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
    transition: opacity .3s linear;	
  }
  
  footer .btn:hover {
    opacity: .7;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    footer .logo {
        
      width: 100%;
      margin-bottom: 20px;
    }
  
    footer .social-media a {
      margin-right: 8px; 
    }
  
    footer .txtb, footer .btn {
      width: 100%;
      margin-left: 0;  
    }
  }


  h1{
    font-family: 'Times New Roman', Times, serif;
  }
  