.pageStyle{
  background-color: rgb(255, 253, 254);
}

.intern-heading{
  position: relative;
  left: 31%;
  color: rgb(0, 0, 7);
}

/* App.css or your custom styles file */

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  /* background-color: #f1f1f1; */
  /* padding: 10px; */
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}


